.best-gear {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.title {
  color: black;
  text-transform: uppercase;
  margin-top: 4rem;
  margin-bottom: 3.2rem;
  text-align: center;
}

.title > span {
  color: var(--dark-orange);
}

.body {
  composes: text-body from "./index.css";
  color: black;
  opacity: 0.5;
  text-align: center;
}
