.btn-orange {
  composes: btn from "./index.css";
  composes: btn-text from "./index.css";
  background-color: var(--dark-orange);
  color: white;
}

.btn-black {
  composes: btn from "./index.css";
  composes: btn-text from "./index.css";
  background-color: black;
  color: white;
}

.btn-white {
  composes: btn from "./index.css";
  composes: btn-text from "./index.css";
  background-color: white;
  border: 1px solid black;
  color: black;
}

.btn-outline-less {
  composes: btn from "./index.css";
  composes: btn-text from "./index.css";
  width: 60px !important;
  height: 18px !important;
  justify-content: space-between !important;
  color: black;
}

.btn-outline-less > .text {
  opacity: 0.5;
}
