.default {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 48px;
  background-color: var(--dark-orange);
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
}
