.root {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 64px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root > * {
  margin-top: 120px;
}

.root > *:first-child {
  margin-top: 0px;
}

.title-container {
  background-color: var(--dark-blue);
  padding: 32px 84px;
}

.title {
  color: white;
  text-transform: uppercase;
}
