.root {
  width: 100%;
  background-color: var(--dark-blue);
  padding-top: 5.2rem;
  padding-bottom: 3.8rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root > * {
  margin-top: 4.8rem;
}

.root > *:first-child {
  margin-top: 0rem;
}

.tabs {
}

.tabs > * {
  margin-top: 1.6rem;
}

.tabs > *:first-child {
  margin-top: 0rem;
}

.tab {
  composes: sub-title from "./index.css";
  color: white;
  text-align: center;
}

.body {
  color: white;
  opacity: 0.5;
  text-align: center;
}

.social-media {
  display: flex;
  width: 10.4rem;
  justify-content: space-between;
}
