.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  padding: 32px 24px;
  border-bottom: 1px solid rgba(172, 167, 167, 0.3);
}

.hamburger {
  width: 16px;
  height: 15px;
}

.cart {
  width: 23px;
  height: 16px;
}
