.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  border-bottom: 0.1rem solid rgba(172, 167, 167, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 3.2rem 2.4rem;
  /* height: 9rem; */
}

@media (min-width: 30rem) {
  .navbar {
    padding: 3.2rem 4rem;
  }
}

.hamburger {
  width: 1.6rem;
  height: 1.5rem;
}

.cart {
  width: 2.3rem;
  height: 1.5rem;
}

.cart-container {
  position: relative;
}

.cart-container::before {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(data-content);
  width: var(--width);
  height: 1.5rem;
  background-color: var(--dark-orange);
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
