.home-page-product-display {
  margin-top: 12rem;
}

.home-page-product-display > .product-display {
  margin-bottom: 2.4rem;
}

.product-display-one {
  height: 60rem;
  background-color: var(--dark-orange);
  overflow: hidden;
  border-radius: 0.8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-pattern {
  width: 170%;
  max-width: 170%;
  position: absolute;
  transform: translateY(-30vw);
}

.product-display-one-image {
  width: 17.2rem;
  margin-top: 5.5rem;
}

.product-display-one-title {
  composes: mobile-title from "./index.css";
  color: white;
  text-align: center;
  margin-top: 3.2rem;
}

.product-display-one-desc {
  composes: text-body from "./index.css";
  color: white;
  opacity: 0.75;
  text-align: center;
  margin-top: 2.4rem;
}

.product-display-two {
  border-radius: 0.8rem;
  height: 3.2rem;
  background-image: url("../assets/home/speaker-zx7-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 32rem;
}

.product-display-two-text-box {
  width: 20.4rem;
  height: 11.8rem;
  margin-left: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-display-two-title {
  color: black;
}

.product-display-three-img {
  border-radius: 0.8rem;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.product-display-three-card {
  height: 20rem;
  width: 100%;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
}

.product-display-three-text {
  width: 24.7rem;
  height: 11.8rem;
  margin-left: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-display-three-title {
  color: black;
}

@media (min-width: 48rem) {
  .circle-pattern {
    width: 130%;
    max-width: 130%;
    position: absolute;
    transform: translateY(-40vw);
  }
}
