:root {
  --dark-orange: #d87d4a;
  --light-orange: #fbaf85;
  --dark-blue: #101010;
  --light-gray: #f1f1f1;
  --dark-gray: #cfcfcf;
  --font-manrope: "Manrope", sans-serif;
  --tablet-min-width: 481px;
  --laptop-min-width: 1224px;
}

body {
  font-family: var(--font-manrope);
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  text-transform: uppercase;
}

h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.14px;
  text-transform: uppercase;
}

h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.mobile-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.overline {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.sub-title {
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.93px;
  text-transform: uppercase;
}

.product-detail-section-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.86px;
}

.text-body {
  font-weight: 200;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.93px;
}

.btn-text {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 48px;
}
