.bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
  justify-content: center;
}

.bg.bg--cart {
  padding-top: 114px;
}

.bg.bg--orderConfirmation {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 9rem === height of the header */
.bg.bg--mobileMenu {
  padding-top: 9rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

@media (min-width: 30rem) {
  .bg {
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: flex-end;
  }
}
